.text-brand{
    color: var(--color-primary-green);
}

.text-brand-dark {
    color: var(--color-primary-darkgreen);
}

.text-bold{
    font-weight: 600;
}

.text-uppercase{
    text-transform: uppercase;
}

