:root {
    --color-primary-green: #819b57;
    --color-primary-darkgreen: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark-red: brown;
    --color-primary-two: #31261A;
}
