.input {
    position: relative;

    &__label{
        position: absolute;
        top: 16px;
        left: 42px;
    }

    &__control{
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid #a28268;
        border-radius: 8px;
        background-color: transparent;

        &:focus{
            border-color: var(--color-primary-green);
            outline: none;
        }

        &::placeholder {
            color: #A28268;
            font-size: 16px;
            line-height: 1.17;
        }

        &::placeholder {
            color: var(--color-primary-two);
        }

    }
}

.form-terms {
    color: var(--color-primary-two);
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-two);
    text-underline-offset: 2px;
}


/* -----свой стиль для чекбокса------ */
/* .checkbox{
    position: relative;
}
.checkbox-input{
    appearance: none;
}
.checkbox-input:checked + .checkbox-label::before{
    background-color: green;
}
.checkbox-label{
    padding-left: 24px;
    cursor: pointer;
}
.checkbox-label::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-primary-two);
    border-radius: 2px;
    content: '';
} */




// 




// .form-field {
//     margin-bottom: 32px;
// }

// .form-label {
//     display: block;
// }

// .form-input {
//     padding: 16px 42px;
//     width: 100%;
//     border: 2px solid #a28268;
//     border-radius: 8px;
//     background-color: transparent;
// }

// .form-input:focus {
//     border-color: var(--color-primary-green);
//     outline: none;
// }

// .form-input::placeholder {
//     color: #A28268;
//     font-size: 16px;
//     line-height: 1.17;
// }

// .form-input:focus::placeholder {
//     color: var(--color-primary-two);
// }

// .form-button {
//     display: block;
//     margin: 0 auto 24px;
// }

// .form-terms {
//     color: var(--color-primary-two);
//     margin: 0 auto;
//     max-width: 220px;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 1.5;
//     text-align: center;
// }

// .form-terms-link {
//     color: var(--color-primary-two);
//     text-underline-offset: 2px;
// }


